#menu-0 .navbar-toggler {
  color: #ffffff;
}
#header1-4 H1 {
  color: #fff8e0;
}
#msg-box3-2 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2 .mbr-header .mbr-header__subtext {
  text-align: center;
}
