@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);


#ext_menu-8 .navbar-toggler {
  color: #0275d8;
}
#ext_menu-8 .navbar-brand {
  font-family: 'Slabo 27px', serif;
}
#ext_menu-8 .nav-link {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 23px;
}


#ext_menu-9 .navbar-toggler {
  color: #0275d8;
}
#ext_menu-9 .navbar-brand {
  font-family: 'Slabo 27px', serif;
}
#ext_menu-9 .nav-link {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 23px;
}


#ext_menu-a .navbar-toggler {
  color: #0275d8;
}
#ext_menu-a .navbar-brand {
  font-family: 'Slabo 27px', serif;
}
#ext_menu-a .nav-link {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 23px;
}


#header1-n H1 {
  color: #000000;
  font-size: 46px;
}
#msg-box3-p .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-p .mbr-header .mbr-header__subtext {
  text-align: center;
}
#ext_menu-q .navbar-toggler {
  color: #0275d8;
}
#ext_menu-q .navbar-brand {
  font-family: 'Slabo 27px', serif;
}
#ext_menu-q .nav-link {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 23px;
}


#msg-box3-b .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-b .mbr-header .mbr-header__subtext {
  text-align: center;
}
#ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-0 .navbar-brand {
  font-family: 'Slabo 27px', serif;
}
#ext_menu-0 .nav-link {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 23px;
}
