#msg-box3-b .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-b .mbr-header .mbr-header__subtext {
  text-align: center;
}
#ext_menu-0 .navbar-toggler {
  color: #000;
}
#ext_menu-8 .navbar-toggler {
  color: #000;
}
#ext_menu-9 .navbar-toggler {
  color: #000;
}
#ext_menu-a .navbar-toggler {
  color: #000;
}
